.rightPart {
  width: 513px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 120px;
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
  &__holder {
    position: relative;
  }
  &__user {
    width: 170px;
    height: 36px;
    background: #d7fdb3;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__image {
      width: 24px;
      height: 24px;
    }
  }
}
