.header {
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  &__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 321px;
    margin-left: 120px;
  }
}
