.tabs{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__label{
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        cursor: pointer;
        & p{
            font-size: 20px;
            font-weight: 600;
        }
        &:hover p{
            color: #f96d10;
        }
    }
}