.item {
  width: 100%;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    width: 234px;
    height: 280px;
    border-radius: 12px;
    border: 1px solid white;
  }
  &__group {
    width: 236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__button {
    width: 113px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;

    &:hover {
      background: #7decff !important;
      color: #fff !important;
      transition: 0.3s;
      filter: drop-shadow(0px 0px 14px #7decff);
    }
  }
}
