.account-slider {
  width: 100%;
  height: 244px;

  margin: 160px 0;
  padding-left: 10px;

  &__header {
    margin-bottom: 15px;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
  }

  &__header-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }

  &__header-more {
    margin-left: 10px;

    cursor: pointer;

    font-size: 17px;
    font-weight: 600;
    color: #c7d2da;
    text-decoration: underline;
  }

  &__container {
    max-width: 102vw;

    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;

    width: 102vw;
  }

  &__item {
    position: relative;

    overflow: hidden;

    min-width: 160px;
    min-height: 222px;

    margin-right: 15px;

    border-radius: 15px;

    cursor: pointer;
  }

  &__item-image {
    width: 160px;
    height: 160px;

    border-radius: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-logo-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;

    overflow: hidden;

    border: 1px solid #ffffff;
    border-radius: 360px;
  }

  &__item-logo {
    width: 40px;
    height: 40px;
  }

  &__item-text-wrapper {
    width: 100%;
    height: 72.72px;

    padding: 10px;
  }

  &__item-title {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
  }

  &__item-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 3px;

    color: #ffffff;
    font-weight: 600;

    span {
      color: #c7d2da;
    }
  }
}
